@font-face {
    font-family: "IRS";
    src: url("../fonts/IRANSANS.TTF");
}

@font-face {
    font-family: "IRSB";
    src: url("../fonts/IRANSANS_BOLD.TTF");
}

@font-face {
    font-family: "IRSBB";
    src: url("../fonts/IRANSANS_BLACK.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,b,span,h1,h2,h3,h4,input,button, select,a {
    font-family: "IRS";
    color: white;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #5DF8AA, #00FF80);
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.logo { 
    font-family: IRSBB;
    color: white;
    font-size: 60px;
}

.course input {
    direction: rtl;
    margin: 15px 25px;
    font-size: 20px;
    background: none;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
}

.course input::placeholder {
    color: white;
    opacity: 0.95;
}

.add-course, .dlt-course {
    background: none;
    font-family: IRSBB;
    font-size: 16px;
    border: 2.5px solid white;
    padding: 7px 10px;
    border-radius: 35px;
    margin-top: 15px;
}

.add-course:hover, .dlt-course:hover {
    background: white;
    color: #5DF8AA;
    cursor: pointer;
}

.time select {
    margin: 30px 25px;
    font-size: 20px;
    background: none;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
}

.time select option {
    color: black;
}

.time span {
    font-size: 20px;
    font-family: IRSB;
    margin-right: 30px;
    margin-left: 10px;
}

.time .hours {
    direction: rtl;
    width: 50px;
    margin: 15px 25px;
    font-size: 20px;
    background: none;
    color: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
}

.plan {
    background: white;
    font-family: IRSBB;
    font-size: 16px;
    border: 2.5px solid white;
    padding: 7px 10px;
    border-radius: 35px;
    margin-top: 15px;
    color: #5DF8AA;
}

.plan:hover {
    background: #5DF8AA;
    color: white;
    cursor: pointer;
}

footer { margin-bottom: 10px; }